/* Global Variables */
root{
    --heading-font: 'Wendy One';
    --paragraph: 'Poppins';
}

/* Testing */

.test{
    border: 1px solid black;
    background-color: rgba(0,0,0, 0.1);
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
}

/********* Fonts **********/

h1, h2, h3
{
    font-family: 'Wendy One', serif;
}

nav a{
    font-family: 'Wendy One', serif;
    text-transform: uppercase;
}

nav .dropdown-toggle{
    height:fit-content;
}


/******************* Navigation Menu Bar ******************/

/* svg logo */
nav .navbar-brand{
    width: 5rem;
}

/* Full width nav items spread evenly */
ul.navbar-nav{
    width: 100%;
}

/******** Drop down ***********/
/* no arrow */
nav .dropdown-toggle::after{
    display: none;
}

/* Put toggler on the left */
nav .navbar-toggler{
    order:-1;
}

/* remove gap between dropdown link and following siblings */
li.dropdown{
    height: 2.5rem;
}

ul.dropdown-menu{
    height:fit-content
}

/* Line up sub menu items */
a.dropdown-item{
    padding: 0.5rem 1rem;
}

/****************************************************/
/********************* Mobile ***********************/
/****************************************************/


/****************************************************/
/********************* Tablet ***********************/
/****************************************************/


/****************************************************/
/********************* Desktop ***********************/
/****************************************************/
