/* Global Variables */
root{
    --heading-font: 'Wendy One';
    --paragraph: 'Poppins';
}

/* Testing */

.test{
    border: 1px solid black;
    background-color: rgba(0,0,0, 0.1);
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
}

/********* Fonts **********/

h1, h2, h3
{
    font-family: 'Wendy One', serif;
}

nav a, .btn{
    font-family: 'Wendy One', serif;
    text-transform: uppercase;
}

nav .dropdown-toggle{
    height:fit-content;
}

.accent{
    font-family: 'Waiting for the Sunrise', serif;
    font-size: 1.75rem;
}


/******************* Navigation Menu Bar ******************/

/* svg logo */
nav .navbar-brand{
    width: 5rem;
}

/* Full width nav items spread evenly */
ul.navbar-nav{
    width: 100%;
}

/******** Drop down ***********/
/* no arrow */
nav .dropdown-toggle::after{
    display: none;
}

/* Put toggler on the left */
nav .navbar-toggler{
    order:-1;
}

/* remove gap between dropdown link and following siblings */
li.dropdown{
    height: 2.5rem;
}

ul.dropdown-menu{
    height:fit-content
}

/* Line up sub menu items */
a.dropdown-item{
    padding: 0.5rem 1rem;
}

.btn{
    height:fit-content;
}

/************* Social Media bar ****************/

/* Social bar fixed container */
footer aside{
    max-width: 38rem;
}

/* SVG icons */
.social{
    display: inline-block;
}

/* Newsletter button text */
#news::after{
    content: 'F! news';
}

/* Follow Us! */
footer aside .accent{
    display:none;
}

/****************************************************/
/********************* Mobile ***********************/
/****************************************************/

@media screen and (max-width:26.875rem) {
    
    /* Newsletter button */
    #news{
        font-size: 0.75em;
    }

    /* Social Media Icons */
    .social{
        width: 2rem;
    }

}

@media screen and (min-width:26.875rem) {
    
    /* Social Media Bar */
    .social{
        width: 3rem;
    }
}

/****************************************************/
/********************* Tablet ***********************/
/****************************************************/

@media screen and (min-width: 36rem){
    
    /* Giving the tablet a little side peak of the background image */
    #site-container{
        margin-right: 1rem;
        margin-left: 1rem;
        width: calc(100% - 2rem);
    }
}

@media screen and (min-width: 48rem){
    
    /* Social Media Bar */
    #news::after{
        content: 'Feral! Newsletter';
    }

    
}


/****************************************************/
/********************* Desktop ***********************/
/****************************************************/

@media screen and (min-width: 62rem){
    
    /* Back to a centered container */
    #site-container{
        margin: auto;
    }
    
    /* Social Media Bar */
    footer aside .accent{
        display:inline-block;
    }
}

@media screen and (min-width: 75rem){
   
}

