/* Global Variables */
root{
    --heading-font: 'Wendy One';
    --paragraph: 'Poppins';
}

/* Testing */

.test{
    /* border: 1px solid black;
    background-color: rgba(0,0,0, 0.1); */
}

body{
    font-family: 'Poppins', sans-serif  !important;
    font-weight: medium  !important;
    color: rgba(56, 36, 0, 1) !important;   
}

.full-page-bg{
    height: 100%;
    background-size:contain;
    background-image: url("../images/x3/bg_mobile_x3.jpg");
    background-position: top;
}

#home-page-bg{
    background-image: url("../images/x3/home_theme_bg_mobile_x3.jpg");
    background-position: bottom;
    background-size: cover;
}

img.chonk{
    border-radius: 3rem;
    min-width: 4rem;
}
/************** Fonts ********************/

/* Headings */

h1, h2, h3
{
    font-family: 'Wendy One', serif;
    text-align: center;
}

p{
    font-size: 0.9em;
}

.p-header{
    text-align: center;
    font-weight:700;
}

/* Navigation Links */
nav a, .btn{
    font-family: 'Wendy One', serif;
    text-transform: uppercase;
}

/* Accent text */
.accent{
    font-family: 'Waiting for the Sunrise', serif;
    font-size: 1.75rem;
}

/********** White Space/Containers **********/

/* Content fixed container */
.content-container{
    max-width: 55rem !important;
    margin: auto !important;
}

#invite{
    max-width: 34rem !important;
}

/**** Left Float *****/
.re-arrange{
    display:grid;
    gap: 1.5rem;
    grid-template-areas:
        'a'
        'b'
        'c'
        'd';
}

.re-arrange h2{
    grid-area: a;
}

.re-arrange picture{
    grid-area: b;
}

.re-arrange .p-header{
    grid-area: c;
}

.re-arrange:nth-child(4){
    grid-area: d;
}

/**** Right Float *****/
.re-arrange-rvs{
    display:grid;
    gap: 1.5rem;
    grid-template-areas:
        'a'
        'b'
        'c'
        'd';
}

.re-arrange-rvs h2{
    grid-area: a;
}

.re-arrange-rvs picture{
    grid-area: b;
}

.re-arrange-rvs .p-header{
    grid-area: c;
}

.re-arrange-rvs:nth-child(4){
    grid-area: d;
}

/******** Colours ***********/

/* Brand Colours */
.rust{
    color: #BB4C21 !important;
}

.green{
    color: #4F7212 !important;
}

.content-bg{
    background-color:rgba(255, 249, 235, 0.6) !important;
}

.highlight{
    background-color:rgba(255, 215, 130, 0.25) !important;
}

/****** Themed Homepage Styles ********/
.theme, .theme h1, .theme h2, .theme h3 {
    font-family: 'Gorditas', cursive;;
    color: #10677D !important;
}

.theme h1{
    font-size: 2.5rem !important;
    text-transform: none;
}

.theme h2{
    font-size: 1.75rem;
}

.theme h3{
    font-size: 1.25rem;
}

.theme p{
    font-size: 18px;
}

.theme-bg{
    background-color:rgba(222, 235, 240, 0.8) !important;
    border:2px solid #10677D !important;
}

button.theme-bg{
    align-self: center;
}

button.theme-bg:hover{
    background-color: #10677D !important;
    color: rgba(255, 249, 235, 1) !important;
}

/* Frame overhang */
#pawnee img{
    z-index: 2;
    transform:  scale(1.2)
                translatex(1.6rem);            
}

#pawnee{
    display: none;
}

/******************* Navigation Menu Bar ******************/

/* svg logo */
#logo{
    width: 5rem;
}

/* Full width nav items spread evenly */
ul.navbar-nav{
    width: 100%;
}

/******** Drop down ***********/

/* Nav dropdown */
nav .dropdown-toggle{
    height:fit-content;
}

/* no arrow */
nav .dropdown-toggle::after{
    display: none;
}

/* Put toggler on the left */
nav .navbar-toggler{
    order:-1;
}

/* remove gap between dropdown link and following siblings */
li.dropdown{
    height: 2.5rem;
}

ul.dropdown-menu{
    height:fit-content;
}

/* Line up sub menu items */
a.dropdown-item{
    padding: 0.5rem 1rem;
}

.btn{
    height:fit-content;
}

/****** Navigation Link Styles ********/

/* Link Colour */
nav a, nav a:visited{
    color: rgba(56, 36, 0, 1) !important;
}

/* Active link pill */
nav a.active, nav a:hover{
    color:#FFF9EB !important;
    background-color: #382400 !important;
}

/* Disabled Nav links */
nav a.disabled {
    color: rgba(56, 36, 0, 0.5) !important;
}

/* Remove colours from home link */
nav a.navbar-brand{
    background: none !important;
}

/************* Social Media bar ****************/

/* SVG icons */
.social{
    display: inline-block;
}

/* Follow Us! */
footer aside .accent{
    display:none;
}

/***** Newsletter Button *****/
#news::after{
    content: 'F! news';
}

/* Outline */
#news{
    border-color: #382400;
    color: #382400;
    transition: 0.1 ease-in-out;
}

/* Filled Hover */
#news:hover{
    background-color: #382400;
    color: #FFF9EB;
}

/****************************************************/
/********************* Mobile ***********************/
/****************************************************/

@media screen and (max-width:29rem) {
    
    /* Newsletter button */
    #news{
        font-size: 0.75em;
    }

    /* Social Media Icons */
    .social{
        width: 2rem;
    }

}

@media screen and (min-width:29rem) {
    
    /* Social Media Bar */
    .social{
        width: 3rem;
    }
}

/****************************************************/
/********************* Tablet ***********************/
/****************************************************/

/* 536px Breakpoint */
@media screen and (min-width: 36rem){
    
    .full-page-bg{
        background-image: url("../images/x3/bg_tablet_x3.jpg") !important;
    }

    #home-page-bg{
        background-image: url("../images/x3/home_theme_bg_tablet_x3.jpg") !important;
    }
    
    /* Giving the tablet a little side peak of the background image */
    #site-container{
        margin-right: 1rem;
        margin-left: 1rem;
        width: calc(100% - 2rem);
    }

}

/* 640px breakpoint - hide pawnee */
@media screen and (min-width: 40rem){
    #pawnee{
        display: inline-block;
    }

    .theme, .theme h1, .theme h2, .theme h3, .theme p{
        text-align: start !important;
    }

    button.theme-bg{
        align-self: flex-start;
    }
    
    /* Left Float */
    .re-arrange{
        grid-template-areas:
            'a a'
            'c c'
            'b d';
    }

    /* Right Float */
    .re-arrange-rvs{
        grid-template-areas:
            'a a'
            'c c'
            'd b';
    }
}

@media screen and (min-width: 48rem){
    
    /* Social Media Bar */
    #news::after{
        content: 'Feral! Newsletter';
    }

}


/****************************************************/
/********************* Desktop ***********************/
/****************************************************/

@media screen and (min-width: 55rem){
    
    /* Left Float */
    .re-arrange{
        grid-template-areas:
            'a a'
            'b c'
            'b d';
    }

    .re-arrange .p-header{
        text-align: start;
    }
        
    /* Right Float */
    .re-arrange-rvs{
        grid-template-areas:
            'a a'
            'c b'
            'd b';
    }

    .re-arrange-rvs .p-header{
        text-align: start;
    }
}

@media screen and (min-width: 62rem){
    
    .full-page-bg{
        background-image: url("../images/x3/bg_desktop_x3.jpg") !important;
    }

    #home-page-bg{
        background-image: url("../images/x3/home_theme_bg_desktop_x3.jpg") !important;
    }
    
    /* Back to a centered container */
    #site-container{
        margin: auto;
    }
    
    /* Social Media Bar */
    footer aside .accent{
        display:inline-block;
    }

}

@media screen and (min-width: 75rem){
   
}

